.music {
    position: fixed;
    width: 100vw;
    bottom: 0px;
    text-align: right;
    padding-bottom: 10px;
    padding: 30px;
}

.music-control {
    margin: 0px;
}

.pause-music {
    display: none;
}

.music a {
    color: #fda835;
    text-decoration: none;
    font-size: 8px;
}

#saturn h3 {
    margin-top: 30px;
}