html {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    overflow-x: hidden;

    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

body {
    margin: 0px;
    padding: 0px;
}

.header {
    margin-top: 40px;
    margin-bottom: 500px;
}

.header h1,
.header h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.space {
    position: absolute;
    scroll-snap-type: y mandatory;
}


.body-wrap {
    width: 100vw;
    position: absolute;
    scroll-snap-stop: always;
    scroll-snap-align: center;
}

.body-wrap>.body {
    border-radius: 100%;
    position: relative;
}

.planet>.body {
    outline: solid black 5px;
    z-index: 100;
}

.boundary>.body {
    width: 100vw;
    height: 1px;
    border-radius: 0%;
    z-index: -1;
}


.body-wrap>h3 {
    font-weight: 100;
    font-size: clamp(12px, 15vw, 80px);
    margin-top: 0px;
    margin-bottom: 0px;
}

.moon>h3 {
    font-size: 20px;
    font-weight: 400;
}

.boundary>h3 {
    margin-top: -80px;
    font-size: clamp(12px, 8vw, 50px)
}

#heliosheath {
    padding-bottom: 50vh;
}