html {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
}

.header {
    margin-bottom: 300px;
}

.space {
    position: absolute;
}


.planetwrap {
    width: 100vw;
    position: absolute;
}

.planetwrap>.planet {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    position: relative;
}

.planetwrap>h3 {
    font-weight: 100;
    font-size: 100px;
    margin-top: 0px;
}

#sidebar {
    background: #111;
    position: fixed;
    border-radius: 10px;
    text-align: left;
    border-radius: 0px 10px 10px 0;
    top: calc(10vh)
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    padding: 10px;
    cursor: pointer;
}

#sidebar li:hover {
    color: gray;
    text-decoration: underline;
}